[Desktop Entry]
Type=Application
Version=1.0
Name=Hepta Native
Comment=Hepta native desktop shell
Exec=hepta-native
Terminal=false
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=hepta-native
